/* CSS for Michael Siever Program 08 */

body {
	text-align: center;
}

.error {
	color: red;
}

.valid {
	color: darkgreen;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table.center {
    width: 50%; 
    margin-left: 25%; 
    margin-right: 25%;
}