/*
-----------------------------------------------------------------------------------------
Name: Michael Siever 6189804
Assignment: 08
Purpose: CSS File for Loops Assignment
Notes: Completed 11/10/2018
-----------------------------------------------------------------------------------------
*/

body {
	text-align: center;
}
