/*default styles, we assume we are on mobile*/
.centered{
    text-align: center;   
}

.small-text {
	font-family: Courier;
    font-size: 90%;
    color: green;
}

#title-heading{
    text-align: center;
    font-family: Lato;
}

hr{
    border: 0;
    height: 1px;
    margin: 10px 0px 30px 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.image-box {
    width:100%;
    float:left;
}

.image-box img{
    width: 100%;
}

/*Display for medium displays (like mobile phones in landscape or smaller tablets)*/
@media (min-width: 640px) and (max-width: 1200px) {
    .small-text {
        font-size: 85%;
        color: blue;
    }
    .image-box {
        width:33.3333333%;
    }
}

/*Display for large displays (like large tablets in landscape and desktop) */
@media (min-width: 1200px) {
    .small-text {
        font-size: 80%;
        color: red;
    }
    .image-box {
        width:25%;
    }
}